body{
  box-sizing: border-box;
  background-color: mediumturquoise;
}

.container{
  width: 100%;
  max-width: 1316px;
  justify-content: center;
  align-items: center;
  
}

.konvertor-title{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
  text-align: center;
}

.konvertor-currency{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.currency-output{
  width: 150px;
  height: 20px;
  background-color: #fff;
  border: solid 2px #000;
}

.currency-btn{
  width: 92%;
  height: 40px;
  margin-left: 50px;
  margin-right: 50px;
}


