.container{
  width: 100%;
  max-width: 1316px;
  margin-left: auto;
  margin-right: auto;
}

.konvertor-title{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.konvertor-currency{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.currency-output{
  width: 150px;
  border: solid 2px #000;
}

.currency-btn{
  width: 92%;
  margin-left: 50px;
  margin-right: 50px;
}


